<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">

	<select id="listByCpage" resultType="kh.spring.dto.BoardDTO">
		select * from (select board.*,row_number() over(order by write_date desc) rn from board) where rn between #{startRowNum} and #{endRowNum}
	</select>
	<select id="getDataCount" resultType="int">
  		select count(seq) from board
  	</select>
  	<select id="list" resultType="kh.spring.dto.BoardDTO">
  		select * from board order by 1 desc
  	</select>
  	<update id="setViewCount">
  		update board set view_count = view_count+1 where seq=#{seq}
  	</update>
  	<select id="select" resultType="kh.spring.dto.BoardDTO">
  	select * from board
  	</select>
  	
</mapper>